/* src/components/App.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #282c34;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.app-container {
  background-color: #ededed;
  color: #000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: space-between; /* Alinea los elementos a los extremos */
}

.forms-container {
  display: flex;
}

.task-form-container,
.category-form-container {
  flex: 1; /* Distribuye el espacio de manera equitativa entre los dos formularios */
  margin: 0 100px;
}

h1 {
  color: #282c34;
}

form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

input,
select,
button {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #282c34;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.1s;
}

button:hover {
  background-color: #2f45d7; /* Azul oscuro */
}


#botonEliminar:hover {
  background-color: #dc3545; /* Rojo */
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #FFF;
}

li input {
  margin-right: 10px;
  transform: scale(2);
}

li span {
  font-size: 19px;
  text-align: left;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

select {
  width: 100%;
}

/* Nuevo estilo para el menú de categorías */
#category-menu {
  margin-top: 20px;
}

#category-menu h2 {
  margin-bottom: 10px;
}

#category-menu ul {
  padding: 0;
}

#category-menu li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

#category-menu li button {
  background-color: #dc3545; /* Rojo */
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#category-menu li button {
  background-color: #f3ce15; /* Azul oscuro */
  color: #000;
  transition: all 0.3s;
}

#category-menu li button:hover {
  color: #fff;
  background-color: #f80000;
}


.task-list-container{
  margin: 0 100px;
}