.App {
  text-align: center;
}

ul{
  list-style: none;
}

span{
  padding-left: 10px;
  font-size: 15px;
  color: red;
}

 textarea{
  height: 12px;
}

a{
  text-decoration: none;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
